:root{
    --dis-back-header:#add8e6;
    --dis-menu-bar:#daa520;
    --dis-back-jumbotron:#00008b;
    --dis-block-jumbotron:#ee82ee;
    --dis-little-block:#ffc0cb;
    --dis-big-block:#1e90ff;
    --dis-lighter:#ffffff;
    --dis-back-CT:#d3d3d3;
    --dis-bigger-block:#228b22;
    --dis-last-section:#f08080;
    --dis-last-group:#20b2aa;
    --dis-darker:#23272a;
    --dis-footer-bar:#7fffd4;
    --dis-footer-buttons:#ffb6c1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container{
    width: 70%;
    margin: auto;     
}

/* header menu */
.head{
    background-color: var(--dis-back-header);
    display: flex;
    align-items: center;
    min-height: 2rem;
}

.menu{
    display: flex;
    background-color: var(--dis-menu-bar);
    border: 1px solid black;
    width: 100%;
    span:nth-of-type(1) {flex-grow: 1;}
    span:nth-of-type(2) {flex-grow: 3;}
    span:nth-of-type(3) {flex-grow: 1;}

}

#link{
    display: flex;
    justify-content: center;
    
}

.space{
    padding-left: 1rem;
    text-decoration: none;
    color: black;   
}

a:hover{
background-color: #d3d3d3;
}

#log{
    display: flex;
    justify-content: end;
    padding-right: 5px;
}

#logo{
    padding-left: 5px;
}

/* main */
/* jumbotron-section */
.container{
    background-color: var(--dis-back-jumbotron);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.jumbo{
    width: 55%;
    margin: auto; 
    min-height: 4rem;
    background-color: var(--dis-block-jumbotron);
    height: 10rem;
}