:root{
    --dis-back-header:#add8e6;
    --dis-menu-bar:#daa520;
    --dis-back-jumbotron:#00008b;
    --dis-block-jumbotron:#ee82ee;
    --dis-little-block:#ffc0cb;
    --dis-big-block:#1e90ff;
    --dis-lighter:#ffffff;
    --dis-back-CT:#d3d3d3;
    --dis-bigger-block:#228b22;
    --dis-last-section:#f08080;
    --dis-last-group:#20b2aa;
    --dis-darker:#23272a;
    --dis-footer-bar:#7fffd4;
    --dis-footer-buttons:#ffb6c1;
}